<h1>Hello, world!</h1>
<p>This project is a test to see whether <a href="https://github.com/damienbod/angular-auth-oidc-client">angular-auth-oidc-client</a> can work with server-side rendering (SSR). There is <a href="https://github.com/damienbod/angular-auth-oidc-client/issues/36">active discussion</a> about how to make this happen, so I'm hoping to use this as a baseline for testing.</p>

<h2>Testing Tools</h2>

<p>1. Try logging in using angular-auth-oidc-client:</p>

<p><button (click)="login()">Log In!</button></p>

<p>2. Try logging out using angular-auth-oidc-client:</p>

<p><button (click)="logout()">Log Out!</button></p>

<p>3. Display access token from angular-auth-oidc-client :</p>

<p><button (click)="checkToken()">Update Access Token!</button></p>

<p>{{authToken}}</p>

<p>4. Display UserInfo from angular-auth-oidc-client:</p>

<p><button (click)="checkUserInfo()">Update User Info!</button></p>

<p>{{userInfo}}</p>

<p>5. Display the result of isAuthorized from angular-auth-oidc-client:</p>

<p>{{authorized}}</p>
