<h1>Hello, world!</h1>
<p>This project is a test to see whether <a href="https://github.com/damienbod/angular-auth-oidc-client">angular-auth-oidc-client</a> can work with server-side rendering (SSR). There is <a href="https://github.com/damienbod/angular-auth-oidc-client/issues/36">active discussion</a> about how to make this happen, so I'm hoping to use this as a baseline for testing.</p>

<h2>Testing Tools</h2>

<p>1. The button below should set a cookie.</p>

<p><button (click)="SetACookie()">Set a Cookie!</button></p>

<p>2. Below, you should see a printout of the storage object, which should show all the JavaScript accessible cookies. This should work even if you turn JavaScript off (because it will get renered by the server):</p>

<p> {{getStorage()}}</p>
